/* Reset some default browser styles */
:root {
    --white: #f0f0f0;
    ---black: #333;
    ---box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    ---space20: 20px;
    ---radius: 5px

}

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

* { 
    box-sizing: border-box; 
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(---black);
    background-color:var(--white)
}

header {
    background-color: var(---black);
    color: var(--white);
    text-align: center;
    padding: var(---space20);
}

nav {
    background-color: var(---black);
    color: var(--white);
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: var(---space20);
}

nav a {
    text-decoration: none;
    color: var(--white);
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: var(---space20);
}

section {
    margin-bottom: var(---space20);
    color: var(---black);
    background-color: var(--white);
    padding: var(---space20);
    box-shadow: var(---box-shadow);
}

/* Style for the service boxes */
.service {
    background-color: var(--white);
    padding: var(---space20);
    margin-bottom: var(---space20);
    box-shadow: var(---box-shadow);
    border-radius: var(---radius);
}

/* Style for service titles */
.service h3 {
    font-size: var(---space20);
    margin-bottom: 10px;
}

/* Style for service descriptions */
.service p {
    font-size: 14px;
    color: #777;
}

/* Style for the footer */
footer {
    background-color: var(---black);
    color: var(--white);
    padding: 20px 0;
    text-align: center;
}

/* Style for the contact info and form */
.contact-form {
    display: inline-block;
    vertical-align: top;
}

/* Style for the contact form container */
.contact-form form {
    background-color: var(--white);
    color: var(---black);
    padding: var(---space20);
    margin: var(---space20);
    box-shadow: var(---box-shadow);
    border-radius: var(---radius);
    text-align: left;
}

/* Style for form labels */
.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style for form input fields and textarea */
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: var(---radius);
}

/* Style for the submit button */
.contact-form button {
    background-color: var(---black);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: var(---radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #555;
}
